# Neon Serverless PostgreSQL Database Connection
DATABASE_URL="postgresql://neondb_owner:npg_example_secret@ep-proud-water-123456.us-east-2.aws.neon.tech/neondb?sslmode=require"

# Stateless Session & JWT Security
JWT_SECRET="uganda_hiphop_secret_jwt_key_2026_kampala_flow_super_secure_token"

# Google OAuth Credentials (for Sign in with Google)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Public Application Settings
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_PLATFORM_COMMISSION="0.20"
DATABASE_URL=postgresql://neondb_owner:npg_qir0NtT6GzRQ@ep-solitary-queen-b4o56xe3-pooler.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
